{% extends "header.html" %}
{% block title %}Index{% endblock %}

<!doctype html>
  <html lang="en">
    {% block head %}
      {{ super() }}
    {% endblock %}

    {% block body %}
		<body style="position: relative; background-image: url('/static/img/background2.jpg'); width: 100%; height: 100%; background-size: cover; overflow: hidden;" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
            <img src="/static/img/logo/profile.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Serenity
            </a>
      
            <div class="collapse align-items-center navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" action="/templates/user.html">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log-in</button>
              </form>
            </div>
          </nav>		    		

        <!-- start banner Area -->
      <section class="background">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-8 col-md-12">
							<h1 style=" color: white;">
								Bringing You Closer					
              </h1>
              <h4 class="text-white text-uppercase pb-5">Lending a Listening Ear</h4>

							<p class="text-white">
								Feeling down? Afraid? Or simply just need someone to talk to? <br> Let us know how we can help.
							</p>
              <a href="#" class="genric-btn primary circle" style="font-size: 15px">Get Started <span class="lnr lnr-arrow-right"></span></a>
              <p style="padding-bottom: 25px;"></p>

              <p class="text-white">
								For individuals who are in dire need of immediate assistance. <br> We are here for you.
							</p>
							<a href="#" class="genric-btn info circle arrow " style="font-size: 15px">I require emergency help <span class="lnr lnr-arrow-right"></span></a>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->

		

			<!-- start footer Area -->		
			<!-- <footer class="footer-area section-gap"> -->
				<!-- <div class="container"> -->
					<!-- <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap"> -->
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!-- <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p> -->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					<!-- </div>
				</div>
			</footer>	 -->
			<!-- End footer Area -->

			
      {% endblock %}

{% block js %} 
{{ super() }}
{% endblock %}



